
.child{
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-between;
    list-style-type: none ;
}
/* .div1{
    display: flex;
    width: 100px; 
    height: 10px;
    justify-content: space-between;
} */
.head{
    display: flex;
    /* margin-left: 50px;*/
    /* width: 400px;
    height: 100px;  */
    /* margin-left: 200px; */
    margin-left: 10px;
    justify-content: space-between;
    background-color: aqua;
}
.put{
    margin-left: 180px;
    margin-top: 23px;
    width: 400px;
    height: 20px;
}
img{
    height: 100px;
    width: 100px;
    margin-top: 10px;
}
img:hover{
    transform: scale(1.2) rotate(90deg)skew(360deg);
    /* transform: translate(10px); */
}
.li1{
    border: 1px solid black;
    height: 200px;
    width: 200px;
    text-align: center;
    /* margin-top: 10px; */
    
}
.li2{
    border: 1px solid black;
    height: 200px;
    width: 200px;
    text-align: center;
}
.li3{
    border: 1px solid black;
    height: 200px;
    width: 200px;
    text-align: center;
}
.li4{
    border: 1px solid black;
    height: 200px;
    width: 200px;
    text-align: center;
}
.li5{
    border: 1px solid black;
    height: 200px;
    width: 200px;
    text-align: center;
    transform:scale3d(20deg 10deg 45deg);
}
.foot h3{
    display: flex;
    justify-content: space-between;
    background-color: darkgray;
    color: #fff;
}